node_modules
node_modules/
.env
dist/
node_backend/dist/
test_generate_password.ts
test_generate_password.js
status
status/
repomix-output.xml
listnetworks
listnetworks/

.venv/
registered_faces/
venv/
.venv
resistered_faces
venv

deepface_service/**/__pycache__/
mediaMTX_server/mediamtx.exe



commands.txt
